<div class="row">
  <div class="col-lg-2" style="background-color: orange">
    <p>Top</p>
  </div>
  <div class="col-lg-9 offset-lg-1">
    <h4><strong>商品一覧</strong></h4>
    <div class="d-flex flex-wrap">
      <% @items.each do |item| %>
      <div class="pl-2">
        <%= image_tag item.image, size: "200x120" %>
        <p><strong><%= item.name %></strong></p>
        <p><strong><%= item.price %></strong></p>
      </div>
      <% end %>
    </div>
  </div>
</div>